.personal-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 30px 0;
  border: none;
  border-bottom: 1px dashed #d5dde0;
}

.personal-info__container {
  display: flex;
  flex-direction: column;
}

.personal-info__input-field {
  width: 328px;
  margin: 30px 0 0 0;
}

.personal-info__consent {
  position: relative;
  display: flex;
  margin: 30px 0 0 0;
  cursor: pointer;
}

.personal-info__consent-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  background: #418de8;
  border-radius: 3px;
}

.personal-info__consent-icon {
  display: none;
}

.personal-info__consent-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1;
}

.personal-info__consent-checkbox:checked
  ~ .personal-info__consent-icon-container
  .personal-info__consent-icon {
  display: block;
}

.personal-info__consent-text {
  margin: 0 0 0 10px;
  font-size: 12px;
  line-height: 15px;
  color: #455273;
}

.personal-info__consent-link {
  color: #418de8;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .personal-info {
    /*display: none; !* Временное свойство *!*/
    width: 100%;
    margin: 0;
    border: 0;
  }

  .personal-info__container {
    width: 100%;
  }

  .personal-info__input-field {
    width: 100%;
  }
}
