.time-selection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 30px;
  min-width: 92px;
  width: 92px;
  cursor: pointer;
  margin: 0 0 0 9px;
}

.time-selection-item:first-child {
  margin: 0;
}

.time-selection-item__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1;
}

.time-selection-item__input:checked ~ .time-selection-item__background {
  background-color: #ffc369;
}

.time-selection-item__input:checked ~ .time-selection-item__time-interval {
  color: white;
}

.time-selection-item__background {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  background-color: #e5edff;
}

.time-selection-item__time-interval {
  margin: 0;
  color: #455273;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  z-index: 2;
}
