.date-time-selection {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.date-time-selection__title {
  margin: 0;
  color: #455273;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
}

.date-time-selection__subtitle {
  margin: 20px 0 0 0;
  color: #babdc2;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
}
