.input-field {
  width: 100%;
  margin: 0;
  padding: 0 0 8px 0;
  border: 0;
  border-bottom: 1px solid #d5dde0;
  font-size: 12px;
  line-height: 15px;
  background: none;
  color: #455273;
  -moz-appearance: textfield;
}

.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
