.order-water {
  display: flex;
  /*display: none; !* Временное свойство *!*/
  flex-direction: column;
  height: max-content;
  /*min-width: 816px;*/
  max-width: 816px;
  margin: 0;
  padding: 40px;
  background-color: #f5f8ff;
  box-sizing: border-box;
}

.order-water__title {
  width: 100%;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  color: #455273;
}

.order-water__personal-info {
  margin: 10px 0 0 0;
}

.choice-options {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
  padding: 0 0 30px 0;
  border-bottom: 1px dashed #d5dde0;
}

.choice-options__water-choice {
  width: 328px;
}

.choice-options__date-time-selection {
  width: 296px;
}

.order-water__result {
  margin: 30px 0 0 0;
}

.order-water__button {
  margin: 50px 0 0 0;
}

@media (max-width: 1200px) {
  .order-water {
    /*display: none; !* Временное свойство *!*/
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }

  .order-water__title {
    /*display: none; !* Временное свойство *!*/
    margin: 30px 0 0 0;
  }

  .order-water__personal-info {
    margin: 5px 0 auto 0;
  }

  .choice-options {
    display: none; /* Временное свойство */
    flex-direction: column;
    width: 100%;
  }

  .button_mobile {
    display: none; /* Временное свойство */
    margin: 0 0 60px 0;
  }

  .order-water__button {
    /*display: none; !* Временное свойство *!*/
    margin: 0 0 30px 0;
  }
}
