.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  max-width: 1440px;
  background-color: #e9effc;
  font-family: "Cera Pro", "Arial", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  .App {
    min-width: 320px;
    background-color: #f5f8ff;
  }
}
