.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  max-width: 1440px;
  background-color: #e9effc;
  font-family: "Cera Pro", "Arial", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}

.pure-water {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pure-water__main-illustration {
  height: 130px;
  width: 130px;
}

.pure-water__title {
  margin: 25px 0 0 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #455273;
}

.pure-water__description {
  width: 240px;
  margin: 40px 0 0 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #818fb3;
}

.order-water {
  display: flex;
  /*display: none; !* Временное свойство *!*/
  flex-direction: column;
  height: max-content;
  /*min-width: 816px;*/
  max-width: 816px;
  margin: 0;
  padding: 40px;
  background-color: #f5f8ff;
  box-sizing: border-box;
}

.order-water__title {
  width: 100%;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  color: #455273;
}

.personal-data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0 30px 0;
  margin: 10px 0 0 0;
  border: none;
  border-bottom: 1px dashed #d5dde0;
}

.personal-data__container {
  display: flex;
  flex-direction: column;
}

.entry {
  width: 100%;
  margin: 30px 0 0 0;
  padding: 0 0 8px 0;
  border: 0;
  border-bottom: 1px solid #d5dde0;
  font-size: 12px;
  line-height: 15px;
  background: none;
  color: #455273;
  -moz-appearance: textfield;
}

.entry::-webkit-outer-spin-button,
.entry::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.personal-data__entry {
  width: 328px;
}

.personal-data__consent {
  position: relative;
  display: flex;
  margin: 30px 0 0 0;
  cursor: pointer;
}

.personal-data__consent-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  background: #418de8;
  border-radius: 3px;
}

.personal-data__consent-icon {
  display: none;
}

.personal-data__consent-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1;
}

.personal-data__consent-checkbox:checked
  ~ .personal-data__consent-icon-container
  .personal-data__consent-icon {
  display: block;
}

.personal-data__consent-text {
  margin: 0 0 0 10px;
  font-size: 12px;
  line-height: 15px;
  color: #455273;
}

.personal-data__consent-link {
  color: #418de8;
  text-decoration: none;
}

.choice-options {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
  padding: 0 0 30px 0;
  border-bottom: 1px dashed #d5dde0;
}

.water-choice {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  /*border: 1px solid red;*/
}

.choice-options__water-choice {
  width: 328px;
}

.water-choice__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  color: #455273;
  margin: 0;
}

.water-choice__container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  /*border: 1px solid red;*/
}

.water-choice__item {
  position: relative;
  height: 130px;
  width: 96px;
  cursor: pointer;
  /*border: 1px solid red;*/
}

.water-choice__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*z-index: 3;*/
  /*border: 1px solid red;*/
}

.water-choice__image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.water-choice__toggle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  background-color: #d5dde0;
}

.water-choice__input:checked ~ .water-choice__toggle {
  background-color: #ffc369;
}

.water-choice__volume {
  margin: 0;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 2;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #455273;
}

.water-choice__quantity {
  margin: 0;
  position: absolute;
  top: 37px;
  left: 12px;
  z-index: 2;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  color: #babdc2;
}

.water-choice__price {
  margin: 0;
  position: absolute;
  left: 12px;
  bottom: 12px;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #ffffff;
}

.count {
  display: flex;
}

.water-choice__count {
  margin: 15px 0 0 0;
}

.count__button {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  outline: 0;
}

.count__button-icon {
  height: 16px;
  width: 16px;
}

.count__text {
  margin: 0 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.date-time-selection {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.choice-options__date-time-selection {
  width: 296px;
}

.date-time-selection__title {
  margin: 0;
  color: #455273;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
}

.date-time-selection__subtitle {
  margin: 20px 0 0 0;
  color: #babdc2;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
}

.date-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.date-container__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #f5f8ff;
  border-radius: 50%;
  border: 1px solid #e5edff;
}

.date-container__button-icon {
  height: 8px;
  width: 4px;
}

.date-container__button_reverse {
  transform: rotate(180deg);
}

.date-container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0;
  height: 30px;
  min-width: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
  /*border: 1px solid red;*/
}

.date-container__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1;
}

.date-container__input:checked ~ .date-container__background {
  background-color: #ffc369;
}

.date-container__input:checked ~ .date-container__day-of-the-month {
  color: white;
}

.date-container__input:checked ~ .date-container__day-of-the-week {
  color: white;
}

.date-container__background {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  background-color: #e5edff;
}

.date-container__day-of-the-month {
  margin: 0;
  color: #455273;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  z-index: 2;
}

.date-container__day-of-the-week {
  margin: 0;
  color: #9caedd;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  z-index: 2;
}

.date-container__day-of-the-week_day-off {
  color: #fd7562;
}

.time-container {
  display: flex;
  margin: 10px 0 0 0;
  justify-content: space-between;
}

.time-container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 30px;
  min-width: 92px;
  width: 92px;
  cursor: pointer;
}

.time-container__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1;
}

.time-container__input:checked ~ .time-container__background {
  background-color: #ffc369;
}

.time-container__input:checked ~ .time-container__time-interval {
  color: white;
}

.time-container__background {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  background-color: #e5edff;
}

.time-container__time-interval {
  margin: 0;
  color: #455273;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  z-index: 2;
}

.result {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #d5dde0;
}

.order-water__result {
  margin: 30px 0 0 0;
}

.result__tittle {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  color: #455273;
}

.result__amount-of-money {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: #455273;
}

.button {
  height: 40px;
  min-height: 40px;
  width: 165px;
  color: white;
  background-color: #418de8;
  border: 0;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.order-water__button {
  margin: 50px 0 0 0;
}

.report {
  display: flex;
  display: none; /* Временное свойство */
  flex-direction: column;
  /*min-width: 816px;*/
  max-width: 816px;
  padding: 40px;
  background-color: #f5f8ff;
}

.report__header {
  display: flex;
  width: 100%;
}

.report__icon {
  height: 30px;
  width: 30px;
}

.report__tittle {
  margin: 0 0 0 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  color: #455273;
}

.report__container {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 8px;
}

.report__item {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 0 20px;
  border-bottom: 1px dashed #d5dde0;
}

.report__item:last-child {
  border-bottom: none;
}

.report__item-name {
  margin: auto 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #455273;
}

.report__item-info {
  margin: auto 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #babdc2;
}

.report__result {
  margin: 30px 0 0 0;
}

.report__notification {
  margin: 30px 0 0 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #818fb3;
}

.report__order-number {
  color: #418de8;
}

.report__button {
  margin: 30px 0 0 0;
}

@media (max-width: 1200px) {
  .App {
    min-width: 320px;
    background-color: #f5f8ff;
  }

  .pure-water {
    display: none; /* Временное свойство */
  }

  .pure-water__button {
    margin: 68px 0 0 0;
  }

  .order-water {
    /*display: none; !* Временное свойство *!*/
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }

  .order-water__title {
    /*display: none; !* Временное свойство *!*/
    margin: 30px 0 0 0;
  }

  .personal-data {
    /*display: none; !* Временное свойство *!*/
    width: 100%;
    margin: 5px 0 auto 0;
    border: 0;
  }

  .personal-data__container {
    width: 100%;
  }

  .personal-data__entry {
    width: 100%;
  }

  .button_mobile {
    display: none; /* Временное свойство */
  }

  .choice-options {
    display: none; /* Временное свойство */
    flex-direction: column;
    width: 100%;
  }

  .result {
    display: none; /* Временное свойство */
  }

  .button_mobile {
    display: none; /* Временное свойство */
    margin: 0 0 60px 0;
  }

  .order-water__button {
    /*display: none; !* Временное свойство *!*/
    margin: 0 0 30px 0;
  }

  .report {
    display: none; /* Временное свойство */
    align-items: center;
    box-sizing: border-box;
    padding: 30px 20px;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
  }

  .report__container {
    width: 100%;
  }

  .report__item {
    flex-wrap: wrap;
  }

  .report__notification {
    margin: 30px 0 auto 0;
  }
}
